.navbar {
  display: flex;
  position: fixed;
  background-color: #0c2461;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  font-family: cursive;
}

.navbar ul li a:hover {
  color: red;
}

.navbar.active {
  background-color: black;
}

.navbar.active ul li a {
  color: white;
}

#About {
font-size: 20px;
font-family: sans-serif
}

 #Home {
  
  display:flex;
  align-items:centre;
  justify-content:center;
  height: 200px;
 }



